flask
flask-sqlalchemy
flask-bcrypt
python-dotenv
flask-session
redis
flask-cors
plotly
matplotlib
numpy
seaborn
pandas
scikit-learn
requests
gunicorn
joblib
pillow==9.5.0 
holidays==0.11.2
cython==0.29.33
pystan==2.19.1.1
fbprophet


